body {
    margin: 0;
    color: rgb(255, 255, 255);
  }
  
  .layout {
    display: flex;
    min-height: 100vh;
  }
  
  header {
    width: 280px;
    background-color: #5396ee;
    padding: 1rem;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  main {
    flex: 1;
    padding: 1rem;
    background-image: url("Imagenes/main_fondo.jpg");
  }
  
  article {
    background: #5396ee;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  